<h1><%= @subject  %></h1>
<p>
  Tipo de informe: <%= @tipo  %>
</p>
<p>
  Nombre: <%= @nombre  %>
</p>
<p>
  Email: <%= @email  %>
</p>
<p>
  Telefono: <%= @telefono  %>
</p>
<p>
  Mensaje: <%= @mensaje  %>
</p>
